.intro{
display:flex;
flex-direction:column;
max-width: 64.85%;
padding-left:11.56%;
padding-bottom:9.219%;
}

.intro__title{
margin:0;
margin-block:0;
font-family: "Inter-Black", Arial, sans-serif;
color:#FFFF;
font-size: 54px;
line-height: 1.074;
padding-bottom: 4.82%;
}

.intro__quote{
margin-block: 0;
padding-right: 11.084%;
padding-bottom:1.21%;
font-family:"Inter", Arial, sans-serif;
font-size: 24px;
line-height: 1.4166;
color:#FFFF;   
}

.intro__quote-author{
margin-block: 0;
text-align: end;
padding-right: 11.81%;
padding-bottom:3.854%;
font-family: "Inter", Arial, sans-serif;
font-size: 24px;
line-height: 1.4166;
color:#FFFF;
        
}
.intro__content{
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    color:#FFFF;
    line-height: 163%;
    margin-block:0;
    padding-right: 13.01%;
}

@media screen and (max-width: 1024px){
    .intro{
        max-width:93.75%;
        padding:0;
        margin:0 auto 4.166% auto;
    }
    .intro__title{
        max-width:98.19%;
        padding-bottom:6.94%;
        font-size:45px;
        line-height:1.088;
    }
    .intro__quote{
        max-width:100%;
        font-size:24px;
        line-height:1.416;
        padding:0;

    }
    .intro__quote-author{
        max-width:100%;
        display:flex;
        flex-direction:row-reverse;
        font-size:24px;
        line-height:1;
        padding-right: 0;
        padding-bottom:4.44%;
    }
    .intro__content{
        max-width: 100%;
        font-size:16px;
        line-height: 163%;
        padding:0;
    }
}

@media screen and (max-width: 544px){
    .intro{
        max-width:90%;
        padding:0;
        margin:0 auto 20%;
    }
    .intro__title{
        max-width: 100%;
        padding-bottom:13.90%;
        font-size:32px;
        line-height:1.09;
    }
    .intro__quote{
        line-height:1.25;
        padding-bottom: 3.47%;
    }
    .intro__quote-author{
        line-height: 1.416;
        padding-bottom: 11.11%;
        
    }
}
