.intro{
display:flex;
flex-direction:column;
justify-content: center;
max-width: 984px;
padding-top:92px;
margin:0 auto;
}

.intro__title{
font-family: Inter, Arial, sans-serif;
font-weight:900;
color:#FFFF;
font-size: 3.375em;
line-height: 58px;
max-width: 830px;
margin-top:0;
letter-spacing: 0;
}

.intro__quote{
    max-width:738px;
    font-family: Inter, Arial, sans-serif;
    font-weight:400;
    font-size: 1.5em;
    margin:39.98px auto 0px auto;
    letter-spacing: 0;
    color:#FFFF;
    line-height: 34px;
    margin-top:0;
    margin-left: 0;
}

.intro__quote-author{
        max-width: 738px;
        font-family: Inter, Arial, sans-serif;
        font-weight:400;
        font-size: 1.5em;
        margin:0 252px 32px auto;
        letter-spacing: 0;
        color:#FFFF;
        line-height: 34px;
}
.intro__content{
    max-width:722px;
    font-family: Inter, Arial, sans-serif;
    font-weight:400;
    font-size: 1em;
    margin:0 auto 92px 0;
    letter-spacing: 0;
    color:#FFFF;
    line-height: 34px;
}
