.intro{
display:flex;
flex-direction:column;
max-width: 64.85%;
padding-left:11.56%;
padding-bottom:10.31%;
}

.intro__title{
margin:0;
margin-block:0;
font-family: "Inter-Black", Arial, sans-serif;
color:#FFFF;
font-size: 54px;
line-height: 1.074;
padding-bottom: 4.82%;
}

.intro__quote{
margin-block: 0;
padding-right: 11.084%;
padding-bottom:1.21%;
font-family:"Inter", Arial, sans-serif;
font-size: 24px;
line-height: 1.4166;
color:#FFFF;   
}

.intro__quote-author{
margin-block: 0;
text-align: end;
padding-right: 11.81%;
padding-bottom:3.854%;
font-family: "Inter", Arial, sans-serif;
font-size: 24px;
line-height: 1.4166;
color:#FFFF;
        
}
.intro__content{
    /*margin:2rem .625rem 92px 0;*/
    /*max-width:45.12rem;*/
    font-family: "Inter", Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 0;
    color:#FFFF;
    line-height: 163%;
}
