
.lead{
display:flex;
flex-direction:column;
max-width: 76.875%;
margin: 0 auto;
}

.lead__title{
font-size: 96px;
font-weight:900;
line-height: 1.0416;
max-width: 73.171%;
text-align:center;
font-family: "Inter-Black", Arial, sans-serif;
color:#FFFF;
margin:0 auto;
margin-block: 0;
padding-bottom: 3.253%;
}

.lead__subtitle{
max-width:73.171%;
text-align:center;
font-family: "Inter", Arial, sans-serif;
font-size: 30px;
line-height: 1.2;
padding-bottom:6.5%;
margin:0 auto;
margin-block:0;
font-weight: 400;
color:#FFFF;
}

@media screen and (max-width: 1024px){
    .lead{
        max-width:93.75%;
        padding-bottom:3.9%;
    }
    .lead__title{
        max-width:73.61%;
        font-size:75px;
        line-height:1.053;
        padding-bottom: 3.472%;
    }
    .lead__subtitle{
        max-width: 100%;
        padding-bottom:0;
    }
    }
    @media screen and (max-width: 544px){
        .lead{
            max-width:90%;
            padding-bottom:12.5%;
        }

        .lead__title{
            max-width:79.166%;
            font-size:40px;
            line-height:110%;
            padding-bottom:5.55%;
        }

        .lead__subtitle{
            max-width: 100%;
            font-size:16px;
            line-height: 1.25;
        }
    }
