
.lead{
display:flex;
flex-direction:column;
max-width: 76.875%;
margin: 0 auto;
}

.lead__title{
font-size: 96px;
line-height: 1.0416;
font-weight: 900;
max-width: 73.171%;
text-align:center;
font-family: "Inter-Black", Arial, sans-serif;
color:#FFFF;
margin:0 auto;
margin-block: 0;
padding-bottom: 3.253%;
}

.lead__subtitle{
max-width:73.171%;
text-align:center;
font-family: "Inter", Arial, sans-serif;
font-size: 30px;
line-height: 1.2;
padding-bottom:6.5%;
margin:0 auto;
margin-block:0;
font-weight: 400;
color:#FFFF;
}

.lead__image{
max-width: 100%;
padding-bottom:9.35%;
}
