
.logo{
    display:flex;
    margin:0 auto;
    padding-top:2.65625%;
    padding-bottom: 7.1140%;
    max-width: 19.9096%;
}

.logo__image{
    width:100%;
}

@media screen and (max-width: 1024px){
    .logo{
        padding-top:3.9%;
        padding-bottom:11.72%;
        max-width:33.07%;
        max-height: 8.593%;
    }
    .logo__image{
        width:100%;
    }
}