.places{
    max-width: 77%;
    display:flex;
    flex-direction: column;
    padding:0 11.3% 7.03% 11.8%;
}

.places__item{
    max-width: 99.70%;
    padding-bottom: 8.4%;
    display:grid;
    grid-template-rows: repeat(4 ,min-content);
    grid-template-columns: 46.61% 49%; 
    grid-template-areas:
    "item_title item_artist"
    "item_image item_paragraphs"
    "item_image item_paragraphs"
    "item_nft item_paragraphs"
    ;
    column-gap: 43px;
    row-gap:0;
}

.places__item:last-of-type{
    padding-bottom:0;
}

.places__item_long-paragraph{
    grid-template-rows: repeat(5 ,min-content);
    grid-template-areas:
    "item_title item_artist"
    "item_image item_paragraphs"
    "item_image item_paragraphs"
    "item_nft item_paragraphs"
    ". item_paragraphs"
    ;
}

.places__item_title{
    display:flex;
    margin:0;
    font-family: "Inter-Black", Arial, sans-serif;
    color:#fff;
    font-size: 72px;
    line-height:1.05;
    grid-area: item_title;
    padding-bottom:48px;
}

.places__item_nft-container{
    grid-area: item_nft;
    width:289px;
    height: 48px;
    background-image: linear-gradient(90deg, #0278fe, #003a7b);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px #000;
    margin-top:48px;
}
.places__item_nft-container:hover{
    opacity:25%;
}

.places__item_nft-paragraph{
    font-family: "Inter", Arial, sans-serif;
    color:#fff;
    font-weight:600;
    font-size: 18px;
    line-height: 1;
    
}

.places__item_image{
    max-width:100%;
    grid-area: item_image;
    box-shadow: 10px 10px 25px #000; 
}

.places__item_image:hover{
    opacity:50%;
}


.places__item_artist-container{
    display:flex;
    flex-direction: column;
    justify-content:end;
    color:#fff;
    font-family: "Inter", Arial, sans-serif;
    grid-area: item_artist;
    padding-bottom:48px;  
}

.places__item_artist-title{
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 12px;
    line-height:1;
    color: #aaa;
    padding-bottom:8px;
    letter-spacing:1.5px;
}

.places__item_artist-paragraph{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;  
    font-size:18px;  
    line-height: 1.22;
}

.places__item_paragraphs{
    color:#fff;
    font-family: "Inter", Arial, sans-serif;
    grid-area: item_paragraphs;
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.places__item_paragraph{
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    line-height: 163%;
    padding-bottom:5%;

}

.places__item_paragraph:last-of-type{
    padding-bottom:0;
}

@media screen and (max-width: 1024px){
    .places{
        max-width: 93.75%;
        padding:0;
        margin: 0 auto 11.718% auto;
    }

    .places__item{
        max-width: 100%;
        padding-bottom:10%;
        margin:0 auto;
        grid-template-columns: 47.22% 49%;
        grid-template-rows: repeat(3 ,min-content) 1fr;
        grid-template-areas:
    "item_title item_artist"
    "item_image item_paragraphs"
    "item_nft item_paragraphs"
    "item_nft item_paragraphs"
    "item_nft item_paragraphs"
    ;
        column-gap: 3.89%;
    }

    .places__item_title{
        font-size: 42px;
        line-height:1.095;
        align-items:flex-end;
    }


    .places__item_image{
        margin:0;
    }

    .places__item_paragraph{
    font-size: 16px;
    line-height: 163%;
    padding-bottom:7.1%;

}

}

@media screen and (max-width:544px){
   .places{
    max-width: 100%;
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0;
} 

.places__item{
    max-width: 100%;
    padding: 0;
    display:flex;
    flex-direction: column;
}

.places__item_title{
    padding:0;
    margin:0 16px 30px;
    font-size: 32px;
    line-height:1.09;
    order:1;
}

.places__item_nft-container{
    width:288px;
    margin:0 auto 50px; 
    order:5;
}

.places__item_nft-paragraph{
    font-size:14px;
    line-height: 100%;

}

.places__item_image{
    margin: 0 0 30px;
    box-shadow: 0px 0px 0px transparent; 
    order:3;
}

.places__item_artist-container{
    padding:0;
    margin:0 16px 30px;
    order:2;
}

.places__item_paragraphs{
    order:4;
    margin:0 16px 30px;
}

.places__item_paragraph{
    padding-bottom:8.7%;
}

}